#body{
    background-color: #c3c3c3;
}
#title {
    accent-color: #4c1e1e;
    font-size:36px;
    text-align:center;
    margin-bottom:5px;
}
#login {
    accent-color: #4c1e1e;
    font-size:24px;
    text-align:left;
    margin-bottom:5px;
}
#password {
     accent-color: #4c1e1e;
     font-size:24px;
     text-align:left;
    margin-bottom:5px;
 }
#button{
    margin-top:5px;
    :center
}
#div{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 6em
}