<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/characterSheet}" method="post">
<!-- Картинка персонажа и Лист персонажа -->
<div>
    <img style="position: absolute; top: 0%; left: 0%;" src="../images/TestCharacterImg.jpg"
         alt="Пример изображения" width="25%" height="50%">
    <object style="position: absolute; top: 0%; left: 25%;"
            data="../files/List_personazha_interaktivny.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="50%"
            height="100%">
        <p>Ваш браузер не поддерживает отображение PDF-файлов. Вы можете скачать файл здесь: <a
                href="../files/List_personazha_interaktivny.pdf">Скачать PDF</a>.</p>
    </object>
</div>
<!-- Генератор чисел -->
<div>
    <div style="position: absolute; top: 50%; left: 0%;" width="25%" height="50%">
        <h2>Генератор случайного числа</h2>
        <form>
            <label for="min">Минимальное значение:</label><br>
            <input type="number" id="min" name="min" value="0"><br><br>
            <label for="max">Максимальное значение:</label><br>
            <input type="number" id="max" name="max" value="100"><br><br>
            <button type="button" onclick="generateRandomNumber()">Сгенерировать</button>
        </form>
        <p>Сгенерированное число: <span id="result"></span></p>

        <script>
		function generateRandomNumber() {
			var min = parseInt(document.getElementById("min").value);
			var max = parseInt(document.getElementById("max").value);
			var randomNumber = Math.floor(Math.random() * (max - min + 1)) + min;
			document.getElementById("result").innerHTML = randomNumber;
		}
        </script>
    </div>
</div>
<div style="position: absolute; top: 0%; left: 75%;" width="25%" height="50%">
    <!-- Инвентарь -->
    <h1 style="text-align: center;">Инвентарь</h1>
    <textarea style="width: 300px; height: 1500px;"></textarea>
</div>
</form>
</body>
</html>
<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Лист персонажа</title>
</head>
<body>
<h1>Лист персонажа</h1>
<form action="#" th:action="@{/characters}" method="post">
  <label for="name">Имя:</label>
  <input type="text" id="name" name="name" required th:value="${character.name}" />

  <label for="race">Раса:</label>
  <select id="race" name="race" required>
    <option value="" th:selected="${character.race eq null}">Выберите расу</option>
    <option th:each="race : ${races}"
            th:value="${race}"
            th:selected="${race eq character.race}">
      [[${race}]]
    </option>
  </select>

  <label for="career">Карьера:</label>
  <select id="career" name="career" required>
    <option value="" th:selected="${character.career eq null}">Выберите карьеру</option>
    <option th:each="career : ${careers}"
            th:value="${career}"
            th:selected="${career eq character.career}">
      [[${career}]]
    </option>
  </select>

  <label for="age">Возраст:</label>
  <input type="number" id="age" name="age" min="1" max="999" required th:value="${character.age}" />

  <label for="height">Рост:</label>
  <input type="number" id="height" name="height" min="1" max="999" required th:value="${character.height}" />

  <label for="weight">Вес:</label>
  <input type="number" id="weight" name="weight" min="1" max="999" required th:value="${character.weight}" />

  <label for="gender">Пол:</label>
  <select id="gender" name="gender" required>
    <option value="" th:selected="${character.gender eq null}">Выберите пол</option>
    <option value="Мужской" th:selected="${character.gender == 'Мужской'}">Мужской</option>
    <option value="Женский" th:selected="${character.gender == 'Женский'}">Женский</option>
  </select>

  <label for="hairColor">Цвет волос:</label>
  <input type="text" id="hairColor" name="hairColor" required th:value="${character.hairColor}" />

  <label for="eyeColor">Цвет глаз:</label>
  <input type="text" id="eyeColor" name="eyeColor" required th:value="${character.eyeColor}" />

  <label for="description">Описание:</label>
  <textarea id="description" name="description" rows="5" required th:text="${character.description}"></textarea>

  <label for="ws">Боевая инициатива:</label>
  <input type="number" id="ws" name="ws" min="1">
  <label for="bs">Боевая ловкость:</label>
  <input type="number" id="bs" name="bs" min="1" max="99" required th:value="${character.bs}" />

  <label for="s">Сила:</label>
  <input type="number" id="s" name="s" min="1" max="99" required th:value="${character.s}" />

  <label for="t">Выносливость:</label>
  <input type="number" id="t" name="t" min="1" max="99" required th:value="${character.t}" />

  <label for="ag">Ловкость:</label>
  <input type="number" id="ag" name="ag" min="1" max="99" required th:value="${character.ag}" />

  <label for="int">Интеллект:</label>
  <input type="number" id="int" name="int" min="1" max="99" required th:value="${character.int}" />

  <label for="wp">Воля:</label>
  <input type="number" id="wp" name="wp" min="1" max="99" required th:value="${character.wp}" />

  <label for="fel">Харизма:</label>
  <input type="number" id="fel" name="fel" min="1" max="99" required th:value="${character.fel}" />

  <label for="a">Броня:</label>
  <input type="number" id="a" name="a" min="0" max="99" required th:value="${character.a}" />

  <label for="wounds">Раны:</label>
  <input type="number" id="wounds" name="wounds" min="0" max="99" required th:value="${character.wounds}" />

  <label for="fate">Судьба:</label>
  <input type="number" id="fate" name="fate" min="0" max="99" required th:value="${character.fate}" />

  <label for="resilience">Стойкость:</label>
  <input type="number" id="resilience" name="resilience" min="0" max="99" required th:value="${character.resilience}" />

  <label for="corruption">Порча:</label>
  <input type="number" id="corruption" name="corruption" min="0" max="99" required th:value="${character.corruption}" />

  <label for="insanity">Безумие:</label>
  <input type="number" id="insanity" name="insanity" min="0" max="99" required th:value="${character.insanity}" />

  <button type="submit">Сохранить</button>
</form>
</body>
</html>-->







