<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Картинка персонажа и Лист персонажа -->
<div>
    <img style="position: absolute; top: 0%; left: 0%;" src="TestCharacterImg.jpg" alt="Пример изображения" alt="Пример изображения" width="25%" height="50%">
    <form style="position: absolute; top: 50%; left: 0%;" width="25%" height="50%">
        <input type="file" accept="image/*"><br>
    </form>
    <object  style="position: absolute; top: 0%; left: 25%;" data="List_personazha_interaktivny.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="50%" height="100%">
        <p>Ваш браузер не поддерживает отображение PDF-файлов. Вы можете скачать файл здесь: <a href="./templates/List_personazha_interaktivny.pdf">Скачать PDF</a>.</p>
    </object>
</div>
<div style="position: absolute; top: 0%; left: 75%;" width="25%" height="50%">
    <!-- Инвентарь -->
    <h1 style="text-align: center;">Инвентарь</h1>
    <textarea style="width: 300px; height: 1500px;"></textarea>
</div>
</body>
</html>