<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
<form th:action="@{/characterSheet}" method="post">
<h1>Персонажи:</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>login</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.playerId}"></td>
            <td th:text="${player.login}"></td>
            <td th:text="${player.password}"></td>
            <button type="submit">Выбрать персонажа</button>
        </tr>
        </tbody>
    </table>
</form>
<form th:action="@{/createPlayableCharacter}" method="post">
    <button type="submit">Создать персонажа</button>
</form>
</body>
</html>
